Repository jfheinrich-eu/commit-wizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt
  args:
  - --all
  - --
  - --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check Rust code compiles
  entry: cargo check
  args:
  - --all-targets
  - --all-features
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test
  args:
  - --all-features
  - --workspace
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-machete:
  name: cargo machete
  description: Check for unused dependencies
  entry: cargo machete
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: Audit Rust dependencies for security vulnerabilities
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Update .github/workflows/build-release-artifacts.yml
  .github/workflows/build-release-artifacts.yml
Due: none

Update .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: none

Update Makefile
  Makefile
Due: none

test(output): remove duplicate test function
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Update .devcontainer/post-create.sh
  .devcontainer/post-create.sh
Due: none

Update Cargo.toml
  Cargo.toml
Due: cargo-machete, cargo-audit

feat(docker): specify GitHub Copilot CLI version in Dockerfile
  .devcontainer/Dockerfile
  Makefile
  docs/INSTALLATION.md
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix: Update .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: none

fix: remove duplicate error message
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix: Update .github/workflows/build-release-artifacts.yml
  .github/workflows/build-release-artifacts.yml
Due: none

fix: complete Available Binaries section in release notes generation (#36)
  .github/workflows/build-release-artifacts.yml
Due: none

refactor(tests): improve test descriptions and add output verification comments
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(copilot): Update .devcontainer/Dockerfile
  .devcontainer/Dockerfile
Due: none

fix(copilot): Update docs/workflow-improvements-summary.md
  docs/workflow-improvements-summary.md
Due: none

fix(copilot): Update .github/workflows/build-release-artifacts.yml
  .github/workflows/build-release-artifacts.yml
Due: none

fix(copilot): Update .devcontainer/post-create.sh
  .devcontainer/post-create.sh
Due: none

refactor: simplify stderr write call and improve formatting of AI installation instructions
  src/output.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Address PR review feedback: improve test coverage, fix path references, update dependencies (#37)
  .devcontainer/Dockerfile
  .github/workflows/build-release-artifacts.yml
  Makefile
  docs/workflow-improvements-summary.md
  src/output.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(main): clarify message when no changed files are detected
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix: address PR review feedback on error handling and duplicate content (#41)
  .github/workflows/build-release-artifacts.yml
  Makefile
Due: none

fix(copilot): remove duplicate version assignment
  .github/workflows/build-release-artifacts.yml
Due: none

fix(copilot): add filename pattern
  Makefile
Due: none

style(tests): format assertion message for clarity
  src/output.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Address PR review feedback: remove duplication, improve error handling, enhance tests (#42)
  .github/workflows/build-release-artifacts.yml
  docs/INSTALLATION.md
  docs/workflow-improvements-summary.md
  src/output.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(Dockerfile): improve Node.js upgrade process output messages
  .devcontainer/Dockerfile
Due: none

Feature/release management (#26)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/post-create.sh
  .github/workflows/auto-review.yml
  .github/workflows/build-release-artifacts.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/rust-tests.yml
  .github/workflows/tag.yml
  Cargo.toml
  Makefile
  README.md
  docs/INSTALLATION.md
  docs/MAKEFILE_RELEASE_BUILDS.md
  docs/devcontainer-analysis.md
  docs/workflow-analysis.md
  docs/workflow-improvements-summary.md
  src/copilot.rs
  src/lib.rs
  src/main.rs
  src/output.rs
  tests/copilot_tests.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

fix(ci): correct macOS runner and add ARM64 cross-compilation tools
  .github/workflows/build-release-artifacts.yml
  Makefile
Due: none

fix(release): use PR-based approach for CHANGELOG updates
  .github/workflows/build-release-artifacts.yml
  .github/workflows/release.yml
Due: none

fix(copilot): Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

fix(release): sanitize tag name for branch in release workflow and update cross installation command in Makefile
  .github/workflows/release.yml
  Makefile
Due: none

fix(ci): implement all Copilot security and robustness improvements
  .github/workflows/build-release-artifacts.yml
  .github/workflows/release.yml
  Makefile
Due: none

fix(release): add PR body content preparation with truncation for changelog size limits
  .github/workflows/release.yml
Due: none

fix(copilot): Update Makefile
  Makefile
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-machete: any of: Cargo\.toml$ and \.toml$
  cargo-audit: any of: Cargo\.(toml|lock)$ and \.toml$
