Repository jfheinrich-eu/commit-wizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt
  args:
  - --all
  - --
  - --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check Rust code compiles
  entry: cargo check
  args:
  - --all-targets
  - --all-features
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test
  args:
  - --all-features
  - --workspace
  language: system
  pass_filenames: false
  stages:
  - pre-push

cargo-machete:
  name: cargo machete
  description: Check for unused dependencies
  entry: cargo machete
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: Audit Rust dependencies for security vulnerabilities
  entry: cargo audit
  language: system
  pass_filenames: false
  stages:
  - pre-push

Refactor ProgressSpinner to module and document Copilot CLI security (#25)
  src/copilot.rs
  src/lib.rs
  src/main.rs
  src/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Refactoring AI modul (#23)
  .env.example
  .github/workflows/pr.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  docs/ai-api-configuration.md
  docs/github-token-setup.md
  docs/token-testing.md
  src/copilot.rs
  src/git.rs
  src/inference.rs
  src/lib.rs
  src/logging.rs
  src/main.rs
  src/progress.rs
  src/types.rs
  src/ui.rs
  tests/ai_tests.rs
  tests/commit_message_format_tests.rs
  tests/copilot_tests.rs
  tests/git_tests.rs
  tests/grouping_integration_tests.rs
  tests/untracked_files_tests.rs
  tests/validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

feat(devcontainer): add Node.js and GitHub Copilot CLI support
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/post-create.sh
Due: none

docs(devcontainer): add comprehensive dev container analysis
  docs/devcontainer-analysis.md
Due: none

ci(workflows): enhance security and robustness
  .github/workflows/auto-review.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/rust-tests.yml
Due: none

refactor(ai): improve AI availability messaging and flow
  src/copilot.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

docs(ci): add workflow analysis and improvements summary
  docs/workflow-analysis.md
  docs/workflow-improvements-summary.md
Due: none

docs(installation): add comprehensive installation guide
  README.md
  docs/INSTALLATION.md
Due: none

feat(release): add GitHub Actions workflow for building release artifacts and packaging
  .github/workflows/build-release-artifacts.yml
  Cargo.toml
Due: cargo-machete, cargo-audit

refactor(release): remove 'dependencies' from noop-labels in workflow files
  .github/workflows/pr.yml
  .github/workflows/tag.yml
Due: none

test: improve code coverage for copilot auth error handling
  src/copilot.rs
  tests/copilot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

build(release): add parametrized Makefile targets for release builds
  .github/workflows/build-release-artifacts.yml
  Makefile
  README.md
  docs/MAKEFILE_RELEASE_BUILDS.md
Due: none

fix(devcontainer): improve error handling in Node.js setup
  .devcontainer/Dockerfile
Due: none

docs(install): fix installation documentation errors
  README.md
  docs/INSTALLATION.md
Due: none

refactor(cli): simplify AI fallback message logic
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

build: update asset paths for documentation and add branch protection file
  Cargo.toml
Due: cargo-machete, cargo-audit

fix: improve conditional checks and error handling in build scripts
  .github/workflows/build-release-artifacts.yml
  Makefile
  README.md
  src/main.rs
  tests/copilot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor(copilot): enhance CLI availability checks with dependency injection for testing
  src/copilot.rs
  tests/copilot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Update Cargo.toml
  Cargo.toml
Due: cargo-machete, cargo-audit

Update .devcontainer/post-create.sh
  .devcontainer/post-create.sh
Due: none

Update Makefile
  Makefile
Due: none

Update README.md
  README.md
Due: none

docs: update Copilot instructions to reflect modular architecture and AI features (#35)
  .github/copilot-instructions.md
Due: none

docs: verify CodeQL version claim accuracy in workflow improvements (#30)
  docs/workflow-improvements-summary.md
Due: none

Fix malformed markdown in macOS installation section (#31)
  README.md
Due: none

feat: add output module for AI status messages and corresponding tests
  src/lib.rs
  src/main.rs
  src/output.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor: extract verbose AI status printing to eliminate nested conditionals (#32)
  src/lib.rs
  src/main.rs
  src/output.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix: improve Alpine package build reliability by removing existing packages first (#33)
  Makefile
Due: none

refactor: enhance Node.js upgrade process and improve error handling for GitHub Copilot CLI installation
  .devcontainer/Dockerfile
  .devcontainer/post-create.sh
  .github/workflows/build-release-artifacts.yml
  docs/workflow-analysis.md
Due: none

Apply suggestions from code review
  Cargo.toml
  README.md
Due: cargo-machete, cargo-audit

Update docs/workflow-analysis.md
  docs/workflow-analysis.md
Due: none

Update src/main.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix: update CodeQL action version and improve error message clarity
  docs/workflow-analysis.md
  src/main.rs
  tests/copilot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Update docs/INSTALLATION.md
  docs/INSTALLATION.md
Due: none

Update .github/workflows/build-release-artifacts.yml
  .github/workflows/build-release-artifacts.yml
Due: none

Update tests/output_tests.rs
  tests/output_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-machete: any of: Cargo\.toml$ and \.toml$
  cargo-audit: any of: Cargo\.(toml|lock)$ and \.toml$
