Repository jfheinrich-eu/commit-wizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-machete: any of: Cargo\.toml$ and \.toml$
  cargo-audit: any of: Cargo\.(toml|lock)$ and \.toml$

fix: update cargo tools installation action to latest version
  .github/workflows/pr.yml
Due: none

Remove slug from Codecov action configuration
  .github/workflows/rust-tests.yml
Due: none

feat(tests): add comprehensive tests for app state and git operations
  .devcontainer/devcontainer.json
  Cargo.toml
  tests/ai_tests.rs
  tests/git_tests.rs
  tests/types_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

fix(codecov): adjust coverage range from 70...100 to 30...100
  codecov.yml
Due: none

fix: improve token retrieval logic by trimming whitespace
  src/ai.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(coverage): remove tests from ignore list to improve diff coverage
  codecov.yml
Due: none

fix(codecov): remove AI-related settings from configuration
  codecov.yml
Due: none

feat: add mockito for HTTP testing and enhance API call tests
  .devcontainer/Dockerfile
  Cargo.lock
  Cargo.toml
  Makefile
  src/ai.rs
  src/ui.rs
  tests/ai_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

Feature: Clarify UI (#10)
  .devcontainer/.devcontainer.env.example
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  .github/copilot-instructions.md
  .github/scripts/README.md
  .github/scripts/submit-review.sh
  .github/workflows/pr.yml
  .markdownlint.yaml
  .mdl_style.rb
  .mdlrc
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  codecov.yml
  docs/ALPINE_INSTALL.md
  docs/MUSL_BUILD.md
  docs/PRE_COMMIT.md
  docs/PRE_COMMIT_MIGRATION.md
  docs/REFACTORING_COPILOT.md
  docs/REFACTORING_EDTUI.md
  docs/ai-api-configuration.md
  docs/github-token-setup.md
  docs/technical-documentation.md
  docs/token-testing.md
  scripts/README.md
  src/ai.rs
  src/editor.rs
  src/types.rs
  src/ui.rs
  tests/ai_tests.rs
  tests/editor_tests.rs
  tests/editor_unit_tests.rs
  tests/git_tests.rs
  tests/types_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

chore(ci): Exclude dependabot from code coverage job
  .github/workflows/rust-tests.yml
Due: none

chore: Update .gitignore to include temporary files
  .gitignore
Due: none

feat: Enhance git file collection and logging capabilities
  Cargo.lock
  Cargo.toml
  src/copilot.rs
  src/git.rs
  src/lib.rs
  src/logging.rs
  src/main.rs
  src/types.rs
  src/ui.rs
  tests/git_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

refactor: Update environment configuration and documentation for GitHub Copilot CLI integration
  .env.example
  README.md
  docs/ai-api-configuration.md
Due: none

fix(copilot): prevent duplicate bullet points in body lines
  src/copilot.rs
  src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(git): add untracked file collection and user selection
  src/git.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor(ui): replace progress functions with threaded spinner
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

feat(inference): add duplicate file validation to heuristic grouping
  src/inference.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

test(core): add comprehensive test suite for validation and formatting
  tests/commit_message_format_tests.rs
  tests/grouping_integration_tests.rs
  tests/untracked_files_tests.rs
  tests/validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor(copilot): expose internal functions for testing purposes
  src/copilot.rs
  tests/copilot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor(workflow): update concurrency settings and action version for PR description generation
  .github/workflows/pr.yml
Due: none

refactor(tests): set user configuration for CI compatibility in untracked files tests
  tests/untracked_files_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor: apply PR #23 code suggestions from GitHub Copilot
  Cargo.lock
  Cargo.toml
  README.md
  docs/ai-api-configuration.md
  src/copilot.rs
  src/git.rs
  src/logging.rs
  src/main.rs
  tests/validation_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

refactor(logging): replace set_boxed_logger with set_logger for improved logging setup
  Cargo.toml
  src/logging.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

fix(copilot): use diffs parameter in fallback_single_group
  src/copilot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(git): remove duplicate doc comment
  src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(main): correct capitalization in error messages
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(ui): fix Shift+C commit all detection
  src/ui.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

chore(deps): update Cargo.lock dependencies
  Cargo.lock
Due: none

chore(deps): update thiserror to version 2.0.17 and clean up dependencies
  Cargo.lock
Due: none

refactor: remove obsolete token tests and HTTP API dependencies
  .env.example
  README.md
  docs/github-token-setup.md
  docs/token-testing.md
  src/copilot.rs
  src/git.rs
  src/lib.rs
  src/logging.rs
  src/main.rs
  tests/ai_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor: remove dotenv dependency and related loading function
  Cargo.lock
  Cargo.toml
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test, cargo-machete, cargo-audit

build(Makefile): build: switch to standalone Copilot CLI
  Makefile
  README.md
  docs/ai-api-configuration.md
  docs/github-token-setup.md
  docs/token-testing.md
  src/copilot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

docs: update README structure and add credits section
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Address PR review comments on command injection, code style, and test coverage (#24)
  src/copilot.rs
  src/main.rs
  tests/copilot_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor: improve handling of Copilot CLI execution and output
  src/copilot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor: reorder imports for clarity in main and progress modules
  src/main.rs
  src/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(progress): ensure spinner thread stops and handles panics on drop
  src/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

refactor(progress): improve thread handling in ProgressSpinner and ensure proper cleanup on drop
  src/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test

fix(progress): handle stderr flush errors gracefully in ProgressSpinner
  src/copilot.rs
  src/progress.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-test
